# Dependencies
node_modules
npm-debug.log

# Next.js build output
.next
out

# Environment
.env
.env.local
.env*.local

# Git
.git
.gitignore

# IDE
.idea
.vscode

# Docker
Dockerfile
docker-compose.yml
.dockerignore

# Docs
README.md
*.md

# OS
.DS_Store
Thumbs.db
